*{
    font-family: "Open Sans";
    text-transform: uppercase;
    padding: 10px;
}

body{
    background-color: bisque;
}

#main{
    place-content: center;
    background-color: #FFF;
    border-radius: 10px;
    width: 300px;
}
button,input {
    color: black;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 2px 6px;
}
button{
    background-color: cornflowerblue;
}
input{
    border: cornflowerblue;
}
